@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh; /* Add this to make the body take up the full height of the viewport */
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #FDB02E;
}

.container {
    width: 80%;
    margin: 0 auto 40px;
    padding: 20px;
}

.category-section {
    margin-bottom: 40px;
}

.category-title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.news-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15px;
    padding: 10px;
    width: calc(30% - 40px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.video-preview {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.news-title {
    font-size: 1.0rem;
    margin-top: 10px;
}

.news-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    .news-card {
        width: calc(45% - 40px);
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: none;
        border-radius: none;
    }
}

@media (max-width: 600px) {
    .news-card {
        width: calc(100% - 40px);
        margin-bottom: 20px;
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    clear: both;
    width: 100%;
    position: relative;
    bottom: 0; /* Add this to make the footer stick to the bottom of the viewport */
}

footer p {
    margin: 0;
    color: #fff;
}